@font-face {
  font-family: 'GreekFreak';
  src: url('GreekFreak.ttf') format('truetype');
}
body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'GreekFreak', serif;
    font-size: 15px;
    color: #000000;
    text-transform: uppercase;
}
.navbar{    
    background-color: 	#303334;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.LogoHeader{
    height: 100px;
}
.menu{
    display: flex;
    justify-content: center;
}
.menu a{
    margin-left: 20px;
    margin-right: 20px;
    color: 	#c7c7c7;
    text-decoration: none;
    text-overflow:inherit;
    
}
.menu a:hover{
    text-decoration: underline;
}
.cadastro{
    display: flex; 
    justify-content: flex-end;
}
.cadastro a{
    margin-left: 10px;
    margin-right: 10px;
    color: #c7c7c7;  
    text-decoration: none;
}
.cadastro a:hover{
     text-decoration: underline;
}
.planoFundo{
  width: 1000px;
}
.ConteudoCadastro{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  justify-items: center;
  height: 600px;
  background-image: url(../assets/imgs/planoFundoCadastro.jpg);
  background-size: 2000px;
  background-position: 10px;
}
.vigaTemploEsquerdo1{
  display: flex;

  height: 100%;
  justify-content: flex-start;
}
.vigaTemploDireito1{
  display: flex;
  height: 100%;
  justify-items: flex-start;
}
.card {
  width: 50%;
  background-color: #e5e5e5;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: black;
  flex-direction: column;
  height: fit-content;
  padding: 20px 0;
  box-shadow: 6px 6px 3px 3px rgba(0, 0, 0, 0.377); 
}
.card h2 {
  margin: 0;
  font-size: 30px;
}
.card.card-cadastro{
  align-content: center;
  width: 500px;
  height: 400px;
}
.card input{
   border: 2px solid #000000;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}
.campo{
.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5px 0;
}
}

.footer {
  display: flex;
  background-color:	#303334;
  height: 200px;
  color: #fff;
  font-size: 15px;
}
.footer img{
    height: 150px;
    align-self: center;
}
.footer .container {
  justify-content: center;
  text-align: center;
}
.container{
    position: absolute;
    right: 250px;
}
.container p{
    text-align: start;
    text-decoration: underline;
}
.container h5{
    text-align: start;
}  
.atalhos{
    position: absolute;
    right: 800px;
}
.atalhos a{
    color: white;
}
.atalhos a :hover{
      text-decoration: underline;
}




