@font-face {
  font-family: 'GreekFreak';
  src: url('GreekFreak.ttf') format('truetype');
}
body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'GreekFreak', serif;
    font-size: 15px;
    color: #000000;
    text-transform: uppercase;
  }
  .DashBoard{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #605f5f;
  }
  .dados{
    display: flex;
    width: 95%;
    height: 95%;
    background-color: #303334;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 3px 6px 6px 6px rgba(0, 0, 0, 0.442);
}
.menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  width: 15%;
  height: 100%;
  border: 5px solid white;
}
.h2{
  display: flex;
  justify-content: center;
  color: white;
}
.title_planilha{
  display: flex;
  margin-left: 30px;
  align-self: center;
  color: white;
}
.planilha{
  display: flex;
  justify-content: center;
  background-color: #959494;
  width: 90px;
  color: white;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 10px;
}
.planilha a{
    color: #000000;
    text-decoration: none;
}
.planilha a:hover{
  text-decoration: underline;
}
.sair{
  display: flex;
  justify-content: center;
  background-color: #959494;
  width: 60px;
  color: white;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 10px;
}
.sair a{
  color: #000000;
  text-decoration: none;
}
.sair a:hover{
  text-decoration: underline;
}
.kpi{
  border: 5px solid blue;
  width: 100%;
  height: 100%;
}
.title{
  border: 5px solid pink;
  width: 100%;
  height: 11%;
}
.title h1{
    text-align: center;
    color: #c7c7c7;
    text-decoration: underline;
}
.alerta{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  color: rgb(0, 0, 0);
  background-color: #6c6c6c;
  border: 5px solid yellow;
  width: 100%;
  height: 25%;
}
.alerta1{
  width: 30%;
  text-align: center;
  background-color: #959494;
  border: 3px solid #303334;
  border-radius: 10px;
}
.alerta2{
  width: 30%;
  text-align: center;
  background-color: #959494;
  border: 3px solid #303334;
  border-radius: 10px;
}
.graficos{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 99%;
  height: 60%;
  border: 5px solid red;
}
.grafico1{
  display: flex;
  align-items: center;
  width: 50%;
  height: 100%;
  background-color: #cfcfcf;
  border: 5px solid rgb(233, 14, 171);
}
.grafico2{
  width: 50%;
  height: 100%;
  background-color: #cfcfcf;
  border: 5px solid rgb(0, 251, 255);
}