@font-face {
  font-family: 'GreekFreak';
  src: url('GreekFreak.ttf') format('truetype');
}
body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'GreekFreak', serif;
    font-size: 15px;
    color: #000000;
    text-transform: uppercase;
}
.navbar{    
    background-color: 	#303334;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.LogoHeader{
    height: 100px;
}

.menu{
    display: flex;
    justify-content: center;
}
.menu a{
    margin-left: 20px;
    margin-right: 20px;
    color: 	#c7c7c7;
    text-decoration: none;
    text-overflow:inherit;
    
}
.menu a:hover{
    text-decoration: underline;
}
.cadastro{
    display: flex; 
    justify-content: flex-end;
}
.cadastro a{
    margin-left: 10px;
    margin-right: 10px;
    color: #c7c7c7;  
    text-decoration: none;
}
.cadastro a:hover{
     text-decoration: underline;
}
.conteudo{
    display: flex;
    width: 100%;
    justify-content:space-between;
    align-items: center;
    background-color:#739298;
    height: 400px;
}
.simulador{
    display: flex;
    width: 100%;
    background-color:#777777;
    height: 700px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.simulador button{
    border: 2px solid #000000;
    border-radius: 4px;
}
.simulador button:hover{
      text-decoration: underline;
}
.simulador img{
    height: 100%;
}
.card {
  width: 50%;
  background-color: #e5e5e5;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: black;
  flex-direction: column;
  height: fit-content;
  padding: 20px 0;
  box-shadow: 6px 6px 3px 3px rgba(0, 0, 0, 0.377); 
}
.card h2 {
  margin: 0;
  font-size: 30px;
}
.card.card-simulador{
  width: 500px;
  height: 400px;
}
.card input{
  border: 2px solid #000000;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}
.card button{
    border: 2px solid #000000;
    border-radius: 4px;
}
.card button:hover{
    text-decoration: underline;
}
.footer {
  display: flex;
  background-color:	#303334;
  height: 200px;
  color: #fff;
  font-size: 15px;
}
.footer img{
    height: 150px;
    align-self: center;
}
.footer .container {
  justify-content: center;
  text-align: center;
}
.container{
    position: absolute;
    margin-top: 20px;
    right: 90px;
    font-size: 13px;
}
.container p{
    text-align: start;
    text-decoration: underline;
}
.container h5{
    text-align: start;
}   
.atalhos{
    position: absolute;
    margin-top: 20px;
    right: 400px;
}
.atalhos a{
    color: white;
    font-size: 12px;
}
.atalhos a :hover{
    text-decoration: underline;
}

