@font-face {
  font-family: 'GreekFreak';
  src: url('GreekFreak.ttf') format('truetype');
}
body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'GreekFreak', serif;
    font-size: 15px;
    color: #4b2e83;
    text-transform: uppercase;
}
.navbar{    
    background-color: 	#f2e7bf;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.LogoHeader{
    height: 100px;
}

.menu{
    display: flex;
    justify-content: center;
}
.menu a{
    margin-left: 20px;
    margin-right: 20px;
    color: 	#646464;
    text-decoration: none;
    text-overflow:inherit;
}
.cadastro{
    display: flex; 
    justify-content: flex-end;
}
.cadastro a{
    margin-left: 10px;
    margin-right: 10px;
    color: #646464;  
    text-decoration: none;
}
.conteudo{
    display: flex;
    width: 100%;
    justify-content:space-between;
    align-items: center;
    background-color:#f7f5ec;
    height: 450px;
}
.vigaTemploEsquerdo{
    width: 24%;
    height: 450px;
    box-sizing: border-box;
    margin-left: -20px;
}
.EstatuaGrega{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 28%;
    height: 400px;
    margin-left: -120px;
    margin-top: 50px;
}
.vigaTemploDireito{
    width: 20%;
    height: 450px;
    box-sizing: border-box;
    margin-left: -20px;
}

 
